body{
    background-color: #191919;
}

.gridBox {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: inline;
}

#gridContainer{
    border: 2px cyan solid;
    width: 67%
}

#mainContainer{
    display: flex;
    border: 2px red solid;
    height: 85vh;
    width: auto;
}

#controlsContainer{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    justify-content: space-between;
    border: 2px rgba(255, 251, 0, 0) solid;
    width: 33%
}

#sizeDisplay{
    color: aqua;
    text-align: center;
}

#sizeContainer{
    display: flex;
    flex-direction: column;
}